* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url('img/imagem-fundo.jpg');
    background-size: cover;
}

:root {
    --font-family-base: "MedievalSharp", cursive;
}

.titulo {
    font-family: var(--font-family-base);
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 3rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    gap: 2rem;
}

.nome-heroi {
    width: 100%;
    max-width: 400px;
    height: 100px;
    padding: 10px;
    border: 2px solid #ff5722;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    font-family: var(--font-family-base);
}

.nome-heroi::placeholder {
    color: #999;
    font-style: italic;
    font-family: var(--font-family-base);
}

.nome-heroi:focus {
    border-color: #ffcc00;
    outline: none;
}

.botao-forca {
    background-color: #ff5722;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-family: var(--font-family-base);
}

.botao-forca:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

.botao-forca:active {
    transform: scale(0.95);
}


.footer {
    color: white;
    text-align: center;
    font-family: var(--font-family-base);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}